@font-face {
  src: url(../fonts/Inter-Regular.woff2) format('woff2'),
    url(../fonts/Inter-Regular.woff) format('woff'),
    url(../fonts/Inter-Regular.ttf) format('truetype');
  font-family: 'Inter';
  font-weight: normal;
}

@font-face {
  src: url(../fonts/Inter-Black.woff2) format('woff2'),
    url(../fonts/Inter-Black.woff) format('woff'),
    url(../fonts/Inter-Black.ttf) format('truetype');
  font-family: 'Inter';
  font-weight: 900;
}

@import url(../vendor/normalize.css);

.root {
  background-color: #e5e5e5;
}

.page {
  background-color: #2a2c2f;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1600px;
  color: #fff;
}

.header {
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  background-image: url(../images/header-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 176px;
  height: 52px;
  margin-top: 28px;
}

.header__lang-links {
  font-family: 'Inter';
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-top: 46px;
}

.header__lang-link {
  color: #fff;
  margin-right: 18px;
  text-decoration: none;
}

.header__lang-link_active {
  text-decoration: underline;
}

.header__lang-link:last-child {
  margin-right: 0;
}

@media (max-width: 1023px) {
  .header {
    padding: 0 24px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 16px;
  }

  .header__logo {
    width: 142px;
    height: 42px;
    margin-top: 16px;
  }

  .header__lang-links {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    margin-top: 30px;
  }
}

.lead {
  padding: 56px 148px 0;
}

.lead__title {
  margin: 0 auto;
  text-align: center;
  max-width: 720px;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

.lead__subtitle {
  margin: 32px auto 0;
  text-align: center;
  max-width: 640px;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

.lead__image {
  width: 100%;
  margin: 64px auto 0;
}

.lead__caption {
  margin: 8px 0 0;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 10px;
  text-transform: uppercase;
}

@media (max-width: 1279px) {
  .lead {
    padding: 48px 48px 0;
  }

  .lead__image {
    margin-top: 56px;
  }
}

@media (max-width: 1023px) {
  .lead {
    padding: 48px 0 0;
  }

  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

@media (max-width: 767px) {
  .lead {
    padding: 48px 2px 0;
  }

  .lead__title {
    max-width: 288px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    margin: 16px auto 0;
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }

  .lead__image {
    margin-top: 40px;
  }

  .lead__caption {
    margin: 8px 0 0 16px;
  }
}
